<p>Hi there,</p>

<p>You have been invited to administer MealX</p>

<%= render partial: "email_safe_button", locals: {
  label: "START ADMINSTERING",
  href: admin_users_url,
  align: "center"
} %>

<p>the Meal multiplier</p>
