<p>Hi there,</p>

<p>complete your registration to MealX</p>

<%= render partial: "email_safe_button", locals: {
  label: "REGISTER",
  href: root_url,
  align: "center"
} %>

<p>the Meal multiplier</p>
