<header class="header">
  <div class="overlay">
    <div class="description">
      <h1>DishFinder</h1>
      <blockquote>
        Finds the dish you are looking for
      </blockquote>

      <form>
        <div class="form-group">
          <label for="exampleInputEmail1">
          Sign up Now to see when DishFinder is available in your area!
          </label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
          <small id="emailHelp" class="form-text text-muted">We will make sure to let you know when we arrive</small>
        </div>
        <button type="submit" class="btn btn-primary">tell me more</a>
      </form>
    </div>
  </div>
</header>