<header class="header">
  <div class="overlay">
    <div class="description">
      <h1>MealX</h1>
      <p>
        MealX will multiply your dining out!
      </p>
      <p>
        Multiply the meal you are craving with the time you want it!
      </p>
      <p>
        Steak X breakfast
      </p>
      <p>
        OR
      </p>
      <p>
        Duck X chocolate cake we have got it covered
      </p>
      <p>
        OR
      </p>
      <p>
        Eggs benedict on a bed of smashed avocado and potatoe roastie
      </p>
      <p>
        Can't get it eat out?
      </p>
      <p>
        MealX will provide you with a recipie and you can make it at home
      </p>

      <form>
        <div class="form-group">
          <label for="exampleInputEmail1">
          Sign up Now to see when MealX is available in your area!
          </label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
          <small id="emailHelp" class="form-text text-muted">We will make sure to let you know when we arrive</small>
        </div>
        <button type="submit" class="btn btn-primary btn-lg">tell me more</button>
      </form>

      <%= content_tag(
        :div,
        nil,
        class: "registration",
        data: {
          options: {
            name: @name,
            byline: "in react"
          }
        }
      ) %>

    </div>
  </div>
</header>

<%= javascript_pack_tag "registration" %>