@keyframes cf4FadeInOut {
  0% {
    opacity: 1;
  }
  17% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  92% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.pre-container {
  .jumbotron {
    border-radius: 0;
    height: 580px; /* You must set a specified height */
    padding: 0; // not really a jumbotron
    .images {
      position: relative;
    }
    .image {
      position: absolute;
      height: 580px; /* You must set a specified height */
      width: 100%; // 100% + 4 rem to counter padding 4rem 2rem on jumbotron
      background-position: center; /* Center the image */
      background-repeat: no-repeat; /* Do not repeat the image */
      background-size: cover;
      animation-name: cf4FadeInOut;
      animation-timing-function: ease-in-out;
      animation-iteration-count: infinite;
      animation-duration: 6s;
    }
    .image_1 {
      background-image: url("https://trello-attachments.s3.amazonaws.com/5beb6a95a434e903fe3ce55a/6000b10d8c35784249118b23/3af9cd861b38537e51d0c9f14d8a4057/pexels-kyle-roxas-2122294.jpg");
    }
    .image_2 {
      background-image: url("https://trello-attachments.s3.amazonaws.com/5beb6a95a434e903fe3ce55a/6000b10d8c35784249118b23/6d136f776ec7f3b03205546f32aac058/pexels-carlo-fuentelsaz-3821692.jpg");
    }
    .image_3 {
      background-image: url("https://trello-attachments.s3.amazonaws.com/5beb6a95a434e903fe3ce55a/6000b10d8c35784249118b23/8c2c7c54d3a47b54a5075d7f8a448794/pexels-pixabay-45202.jpg");
    }
  }
}

#cf4a .image:nth-of-type(1) {
  animation-delay: 4s;
}
#cf4a .image:nth-of-type(2) {
  animation-delay: 2s;
}
#cf4a .image:nth-of-type(3) {
  animation-delay: 0;
}

#cf4a .image {
  position: absolute;
  left: 0;
  transition: opacity 1s ease-in-out;
}

.display-text {
  font-size: 20px;
  line-height: 1.25;
  &.stronger {
    font-weight: 700;
    font-size: 52px;
  }
}

.footer {
  background-color: rgb(250, 251, 252);
  font-size: 12px;
  a {
    @extend .text-secondary;
  }
}

.quote {
  position: relative;
  .user {
    z-index: $zindex-dropdown;
    left: 110px;
    @extend .bg-warning;
    width: 180px;
    height: 180px;
    box-shadow: 0 16px 24px -16px rgba(0, 0, 0, 50%);
    border-radius: 15px;
    text-align: center;
    position: absolute;
    top: -30px;
    &::before {
      font-family: "Font Awesome 5 Free";
      content: "\f007";
      font-size: 9em;
      line-height: 1.25em;
    }
  }
  .card {
    @extend .bg-primary;
    margin-top: 40px;
    padding-top: 160px;
    border-radius: 15px;
    margin-left: 7.5%;
    margin-right: 7.5%;
    margin-bottom: 2em;
    height: 100%;
    font-weight: 500;
    font-size: 28px;
    line-height: 40px;
    letter-spacing: 0.01em;
    min-height: 15em;
    color: white;
  }
  .card-body {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .card-annotation {
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 2rem;
    font-size: 0.7em;
  }
}

.carousel-control-prev,
.carousel-control-next {
  opacity: 100% !important;
}

.social-integration {
  background-color: white;
  box-shadow: 0 16px 24px -16px rgba(0, 0, 0, 50%);
  min-width: 144px;
  min-height: 144px;
  max-width: 144px;
  max-height: 144px;
  overflow: hidden;
  border-radius: 15px;
  margin-left: 2em;
  text-align: center;
  i {
    color: var(--gray);
    font-size: 7em;
    line-height: 1.25em;
  }
}

.carousel-control-wrapper {
  background-color: white;
  border-radius: 25px;
  padding: 10px;
  width: 50px;
  height: 50px;
  box-shadow: 0 16px 24px -16px rgba(0, 0, 0, 50%);
  transition: transform 0.12s ease-in-out;
  i {
    color: var(--primary);
    font-size: 1.8em;
  }
  &:hover {
    transform: scale(1.1);
  }
}

.carousel-indicators {
  i {
    margin-left: 0.3em;
    margin-right: 0.3em;
    color: var(--primary);
    font-size: 1.2em;
    transition: transform 0.12s ease-in-out;
    &:hover {
      transform: scale(1.1);
    }
  }
  i.active:before {
    @extend .fa;
  }
}
