$fa-font-path: "~@fortawesome/fontawesome-free/webfonts";
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/brands";

@import "~bootstrap/scss/bootstrap";

// devise alert to extend bootstrap colours
.alert {
  z-index: $zindex-popover;
  &.alert-alert {
    @extend .alert-warning;
  }
}

#error_explanation {
  @extend .invalid-feedback;
  display: block;
}

@import "coming_soon";
@import "landing";

body {
  font-family: "Montserrat", sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
  .container-fluid {
    flex: 1;
  }
}

.devise-form {
  form {
    margin-bottom: 1.25em;
  }
  .field {
    @extend .form-group;
  }
  input {
    &[type="email"], &[type="password"] {
      @extend .form-control;
    }
    &[type="checkbox"] {
      // @extend .form-check-input;
    }
    &[type="submit"] {
      @extend .btn;
      @extend .btn-primary;
    }
  }
}